@import url("https://fonts.googleapis.com/css?family=Montserrat");
/* Aula 01-04-03*/

body, ul{
    margin:0px;
    padding:0px;
}

#header #menu a{
    color: rgba(221, 195, 47, 0.911);
    text-decoration: none;
    font-family:'Caveat';
    text-transform: uppercase;
    font-size: 1em;
    transition: 0.3s;
    margin-right: 30px;
}
#header #menu a:hover{
font-size:1.6em;
transition:0.3s;
text-shadow: 4px 4px 6px #ffffff;
}

#logo img:hover {
   box-shadow:4px  4px 6px #ffffff;
   transition:0.3;

}
#logo img{
    float: left;
    height: 110px;
    position: relative;
    top:0px ;
    left: 5px;
    border-radius: 200px;
}
#header{
    width: 100%;
    position: relative;
    z-index: 90;
    box-sizing: border-box;
    height: 100px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    box-shadow: 6px 6px 8px #0000007a;
    transition: 0.3s;

}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile {
    display: none;
}
/*
#carouselExampleInterval {
    position: relative;
    z-index: 10;
    padding-top: 5px;
} I
*/
#carouselExampleInterval{
    position: relative;
    z-index: 10;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 6px 6px 8px #ffffff7a;
    transition: 0.3s;
    place-items: normal  legacy;
    margin-block: 10px;
    height: auto;
}
@media(max-width:600px){
    #menu{
        display: block;
        position: absolute;
        width: 15em;
        top: 70px;
        right: 0px;
        background: #000000;
        transition: 0.6s;
        z-index: 10000;
        height: 0px;
        padding-left: 5px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #menu li{
        padding-top: 30px;
        padding-bottom: 0px;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: hidden;
  
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;

    }
    #hamburger {
        border-top: 3px solid;
        width: 35px;
        color: #e3cd26;/*alterando a cor do hamburguer*/

    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 35px; /*melhorando o hamburguer>>largura>*/
        height: 2px;
        background: currentColor;
        margin-top: 4px;  /*melhorando o hamburguer*/
        transition: 0.3s;
        position: relative;
        border-top: 3px solid;

    }
#nav.active #hamburger {
    border-top-color: transparent;
}
#nav.active #hamburger::before {
    transform: rotate(135deg);
}
#nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
}
}
/* Estilo CSS Banner */
.section-banner-home {
width: 100%;
height: 500px;
margin-top: 10px;
padding: 50px;
background-color: rgb(0, 0, 0);
color: white;
}
.section-banner-home img {
height: 400px;
}
.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 22px;
}
.section-banner-home .texto-banner h1 {
    font-size: 30px;
    width: 60%;
    font-weight: 500;
    padding-bottom: 20px;
}
.section-banner-home .texto-banner p{
    font-size: 15px;
    margin-bottom: 20px;
    color: white;
}
.section-banner-home .texto-banner a{
    color:rgb(244, 210, 73);
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    padding: 4px 14px;
    font-size: 15px;
}
.section-banner-home .texto-banner a:hover{
    color: white;
    text-shadow: 2px 2px 4px white;
    font-size: 15px;
    font-weight: bold;
}
/* Fim CSS Banner */

/* CSS Destaque */
.destaque h2 {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.destaque p {
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque figcaption {
    font-size: 13px;
    color:black;
    text-decoration:none;
    font-weight: bold;
    text-align: center;
}
.destaque a {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0;
}
/* Fim CSS Destaque */

/*Css Novidades*/
.novidades .text-body{
    width: 80%;
    margin: 70px auto;
}
.novidades h2{
    color: black;
    font-size: 26px;
    width: 70%;
}
.novidades p {
    color: black;
}
.novidades a{
    color:white;
    text-decoration: underline;
    text-decoration-color: violet;
    padding: 6px 12px;
    background-color: rgb(0,68, 194);
    font-weight: 400;
}
/*fim css novidade*/
/*inicio css galerias*/

.galeria{
    margin: 60px auto 20px;
}
.galeria h2{
    text-align: center;
    font-size: 24px;
}
.galeria p{
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
}
.galeria .gallery {
    width: 30%;
    margin: 14px auto 50px;
}
/*Fim css galerias */
/* Inicio css footer */

.rodape{
    padding: 50px 50px 0;
}
.rodape .info-contato  p{
margin: 0px;
}
.rodape a{
    text-decoration: none;
    color: #000;
    font-size: 13px;

}
.rodapea:hover{
    font-weight: bold;
}
.rodape .redes-sociais{
    display: inline-block;
}
.rodape .redes-sociais img {
    width: 45px;
    height: 40px;
}
.rodape p.direitos{
    text-align: center;
    margin-top: 40px;
    }
